div {
    border:1px solid green;
    width:550px;
}
h1 {
    color:red;
}
h2 {
    color:red;
}
p {
    color:blue;
}
.bluetext {
    color:red;
}
button {
    background-color:white;
    color:green;
    border:1px solid green;
}
input {
    border:1px solid red;
}
em {
color:green;
}